<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="src/js/vue/vue.js"></script>
    <link rel="stylesheet" href="src/css/index.css" />
  </head>
  <body>
    <div id="app">
      <switch-btn
        v-on:change-btc="Bitcoin"
        v-on:change-gfc="Giftcard"
        v-bind:btcstyle="BtcStyle"
        v-bind:gfcstyle="GfcStyle"
      ></switch-btn>
      <btc-body
        v-if="BtcSee"
        v-on:update-btc="UpInput"
        v-on:update-dol="UpInput"
      ></btc-body>
      <gfc-body v-if="GfcSee"></gfc-body>
    </div>
    <script src="src/js/bitcoin.js"></script>
    <script src="src/js/giftcards.js"></script>
    <script>
      Vue.component("switch-btn", {
        props: ["btcstyle", "gfcstyle"],
        template: `<div class="switch_func">
                <p>Exchange Rate</p>
                <div class="switch_wrap">
                <button v-bind:class="btcstyle" v-on:click="$emit('change-btc')">Bitcoin</button>
                <button v-bind:class="gfcstyle" v-on:click="$emit('change-gfc')">Giftcard</button>
                </div>
                </div>`,
      });
      var app = new Vue({
        el: "#app",
        data: {
          BtcSee: true,
          GfcSee: false,
          getRate: fetch("https://api.coindesk.com/v1/bpi/currentprice.json")
            .then((response) => response.text())
            .then(function (text) {
              sessionStorage.setItem('btcRate',text);
            }),
          convert2btc: "",
          convert2dollar: "",
          companyRate: 410,
          BtcStyle: "btcAct",
          GfcStyle: "gfc",
        },
        methods: {
          Bitcoin: function (event) {
            this.BtcSee = true;
            this.GfcSee = false;
            this.BtcStyle = "btcAct";
            this.GfcStyle = "gfc";
          },
          Giftcard: function () {
            this.GfcSee = true;
            this.BtcSee = false;
            this.BtcStyle = "btc";
            this.GfcStyle = "gfcAct";
          },
          UpInput: function (data) {
            getRate = JSON.parse(sessionStorage.getItem('btcRate'));
            if (data.type == "Bitcoin") {
              this.convert2btc = data.value / getRate.bpi.USD.rate_float;
              this.convert2dollar = data.value;
            } else if (data.type == "Dollar") {
              this.convert2btc = data.value;
              this.convert2dollar = data.value * getRate.bpi.USD.rate_float;
            }
          },
        },
      });
      //         fetch('https://blockchain.info/tobtc?currency=USD&value=1')
      //   .then(response => response.json())
      //   .then(data => console.log(data));
    </script>
  </body>
</html>
