<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="src/js/vue/vue.js"></script>
    <link rel="stylesheet" href="src/css/index.css">
  </head>
  <body>
    <div id="app">
      <switch-btn
        v-on:change-btc="Bitcoin"
        v-on:change-gfc="Giftcard"
      ></switch-btn>
      <btc-body
        v-if="BtcSee"
        v-on:update-btc="UpInput"
        v-on:update-dol="UpInput"
      ></btc-body>
      <gfc-body v-if="GfcSee"></gfc-body>
    </div>
    <script src="src/js/bitcoin.js"></script>
    <script src="src/js/giftcards.js"></script>
    <script>
      Vue.component("switch-btn", {
        template: `<div class="switch_func">
                <button v-on:click="$emit('change-btc')">Bitcoin</button>
                <button v-on:click="$emit('change-gfc')">Giftcard</button>
                </div>`,
      });
      var app = new Vue({
        el: "#app",
        data: {
          BtcSee: true,
          GfcSee: false,
          GlobalRate: 1,
          convert2btc: "",
          convert2dollar: "",
          companyRate: 2,
        },
        methods: {
          Bitcoin: function (event) {
            this.BtcSee = true;
            this.GfcSee = false;
          },
          Giftcard: function () {
            this.GfcSee = true;
            this.BtcSee = false;
          },
          UpInput: function (data) {
            if (data.type == "Bitcoin") {
              this.convert2btc = data.value + this.GlobalRate;
              this.convert2dollar = data.value;
            } else if (data.type == "Dollar") {
              this.convert2btc = data.value;
              this.convert2dollar = data.value - this.GlobalRate;
            }
          },
        },
      });
      //         fetch('https://blockchain.info/tobtc?currency=USD&value=1')
      //   .then(response => response.json())
      //   .then(data => console.log(data));
    </script>
  </body>
</html>
