// varable
$grey1:#E3E1E1;
$grey2:#8F8F8F;
$lemon : #92CFA8;
$bitcoin_gre : linear-gradient(to bottom, #FB9715, #FF7F2A);
$bitcoin : #FB9715;
$giftcard_gre : linear-gradient(to bottom, #65BAE6, #453AEF);
$giftcard : #453AEF;
$lemon_gre: linear-gradient(to bottom, #A3F5C0, #12EE60);
// default
input[type=number],
input[type=text],
input:hover[type=number]::-webkit-inner-spin-button,
input:focus[type=number]::-webkit-inner-spin-button,
input:hover[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	appearance: none;
	outline: none;
	outline: none;
}
::-webkit-input-placeholder {color: $grey2;}
::-moz-placeholder {color: $grey2;}
:-ms-input-placeholder {color: $grey2;}
:-moz-placeholder {color: $grey2;}
// mixin
@mixin button_style {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $grey1;
    border-radius:5px;
}
@mixin input_style {
    padding: 10px;
    padding-left:40px;
    font-size: 16px;
    border:2px solid $grey1;
    border-radius:5px;
}

@mixin shadow {
    box-shadow: -2px 3px 10px rgba(0,0,0,0.2);
}
@mixin normal_F {
    font-size: 18px;
    color: $grey2;
    font-family: sans-serif;
}
// for colors

// varable
@mixin  round($size:100%){
    border-radius: $size;
}

@mixin button_icon {
    width: 35px;
    height: 35px;
    padding: 0px;
    border:2px solid $grey1;
}
@mixin icon_style($x:auto,$y:auto){
    background-repeat: no-repeat;
    background-position:$x $y;
    background-image: url(../img/icon.png);
    background-image: url(../img/icon.svg);
}